*{
    font-family: "Verdana", serif;
}
.action {
    margin: 10px;
}
button {
    cursor: pointer;
}
body {
    background-color: #f5f5f5;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.subheading {
    text-align: center;
    color: #666;
}
.action {
    margin-top: 20px;
    text-align: center;
}
#guessBox {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    background-color: #2a5fc4;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 10px;
    color: #333;
}
.chartContainer {
    overflow-x: auto;
    margin: 20px;
    max-width: 100%;
    padding: 0 20px;
    background-color: #fff;
}
.chart {
    min-width: 600px;
    width: auto;
}
.chart a {
    pointer-events: none;
}
#retryButton {
    visibility: hidden;
}