*{
    font-family: "Verdana", serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action {
    margin: 10px;
}

button {
    cursor: pointer;
}